/* https://stackoverflow.com/a/21992458 */
.histogram-image-container {
    /* image resolution: 800x450 */
    padding-bottom: 56.25%;
    position: relative;
}

.histogram-image {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
