.course-button-list-item {
    -webkit-appearance: button;
}

.course-button-list-item-hovered {
    -webkit-box-shadow: inset 0 0 0 3px #CC0000;
    -moz-box-shadow: inset 0 0 0 3px #CC0000;
    box-shadow: inset 0 0 0 3px #CC0000;
    font-weight: bold;
}

.course-button-list-item-conflicted {
    color: red !important;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}
