.selectize-control.course-select {
    font-size: .8rem;
}

.selectize-control.course-select .selectize-input {
    min-height: initial;
    padding: 0.5rem 0.75rem;
}

.selectize-control.rtl.single.course-select .selectize-input:after {
    left: calc(0.75rem + 40px);
}

.selectize-control.course-select .selectize-input .course-select-filter-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.selectize-control.course-select .selectize-input .course-select-filter-button.focus,
.selectize-control.course-select .selectize-input .course-select-filter-button:focus {
    box-shadow: inset 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Next two rules: selectize dropdown height based on screen height */
/* https://stackoverflow.com/questions/46613111/selectize-dropdown-height-base-on-screen-height */
.selectize-control.course-select .selectize-dropdown,
.selectize-control.course-select .selectize-dropdown.form-control {
    height: 50vh !important;
}

.selectize-control.course-select .selectize-dropdown-content {
    max-height: 100% !important;
    height: 100% !important;
}
