.selectize-control.course-select {
    font-size: .8rem;
}

.selectize-control.course-select .selectize-input {
    min-height: initial;
    padding: 0.5rem 0.75rem;
}

/* Next two rules: selectize dropdown height based on screen height */
/* https://stackoverflow.com/questions/46613111/selectize-dropdown-height-base-on-screen-height */
.selectize-control.course-select .selectize-dropdown,
.selectize-control.course-select .selectize-dropdown.form-control {
    height: 50vh !important;
}

.selectize-control.course-select .selectize-dropdown-content {
    max-height: 100% !important;
    height: 100% !important;
}
